.loginForm{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    width: 440px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 2px #ff914d;
    background-color: white;
}

h2{
    font-size: 12px;
    color: red ;
    text-align: start;
    margin-top: 20px;
    margin-bottom: 10px;
}

.registerForm h2{
    font-size: 12px;
    color: green ;
    text-align: start;
    margin-top: 20px;
    margin-bottom: 10px;
}

.registerForm{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    width: 440px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 2px #ff914d;
    background-color: white;
}

.textInput{
margin: 10px !important;
width: 300px;
}

.button{
    color: black !important;
    background: #FFBD59 !important;
    border: 1px solid #ff914d !important;
    width: 100px;
    text-align: center;
    /* margin: 10px !important; */
    margin-top: 30px !important;
}

.Register{
    display: flex !important;
    justify-content: center;
    margin-top: 110px !important;
}

.Login{
    display: flex !important;
    justify-content: center;
    margin-top: 50px !important;
}

.button1{
    color:  black !important;
    font-weight: 900;
}

