.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cart h1{
    margin-top: 35px;
  }
  
  .cartItem {
    width: 700px;
    height: 250px;
    display: flex;
    background-color:  #A77E6D;
    align-items: center;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 30px;
  }
  
  .cartItem img {
    width: 200px;
  }
  
  .cartItem .description {
    width: 100%;
    font-size: 30px;
  }
  
  .countHandler input {
    width: 40px;
    text-align: center;
    font-weight: bolder;
  }
  .countHandler button {
    padding-left: 3px;
    padding-right: 3px;

  }
  
  .checkout button {
    width: 150px;
    height: 50px;
    background: #FFBD59 !important;
    color: black !important;
    border: 1px solid #ff914d !important;
    font-weight: 900 !important;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
  }
  .checkout p {
    font-weight: 900;
    margin-bottom: 5px;
  }
  @media (max-width:768px){
    .cartItem {
      width: 500px;
      height: 200px;
    }
    .cartItem img {
      width: 150px;
    }
    .cartItem .description {
      width: 100%;
      font-size: 25px;
    }
  }
  @media (max-width:598px){
    .cartItem {
      width: 450px;
      height: 150px;
    }
    .cartItem img {
      width: 100px;
    }
    .cartItem .description {
      width: 100%;
      font-size: 20px;
    }
  }
  @media (max-width:480px){
    .cartItem {
      width: 400px;
      height: 100px;
    }
    .cartItem img {
      width: 50px;
    }
    .cartItem .description {
      width: 100%;
      font-size: 16px;
    }
  }
  